data/desikan_fc_all.mat
data/HCP_cortical_DesikanAtlas.mat
testing_notebook.ipynb
ddpm_model.pt
models/ddpm_mnist_raw.pt
models/ddpm_test_tanh_dff.pt
models/ddpm_test_tanh_end.pt
models/raw_model_no_transf.pt
models/test.pt
Latent_test1_unet.pt
.gitignore
__pycache__/encodedFCDataset.cpython-311.pyc
__pycache__/model_eval.cpython-311.pyc
__pycache__/model_eval.cpython-311.pyc
__pycache__/networkModelLatent.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/model_eval.cpython-311.pyc
__pycache__/model_eval.cpython-311.pyc
matriz_SC_FC/data/desikan_fc_all.mat
matriz_SC_FC/data/HCP_cortical_DesikanAtlas.mat
.gitignore
matriz_SC_FC/initial_models/ddpm_mnist_raw.pt
matriz_SC_FC/initial_models/ddpm_test_tanh_dff.pt
matriz_SC_FC/initial_models/raw_model_no_transf.pt
matriz_SC_FC/initial_models/ddpm_test_tanh_end.pt
matriz_SC_FC/models/FC_atanh_raw_SC.pt
matriz_SC_FC/initial_models/test.pt
matriz_SC_FC/models/raw_FC_SC.pt
matriz_SC_FC/models/raw_FC_SC2.pt
.gitignore
VAE/__pycache__/__init__.cpython-311.pyc
VAE/__pycache__/corticalSCFCDatasetVect.cpython-311.pyc
VAE/__pycache__/model_eval.cpython-311.pyc
VAE/__pycache__/SCFC_data_extraction.cpython-311.pyc
VAE/__pycache__/utilsVAE.cpython-311.pyc
VAE/__pycache__/VAEmodel.cpython-311.pyc
VAE/data/desikan_fc_all.mat
VAE/data/HCP_cortical_DesikanAtlas.mat
VAE/models/AAE_NO_VAE.pt
VAE/models/AAE.pt
VAE/models/AutoEncoder.pt
VAE/models/FINAL_AAE_NO_VAE.pt
VAE/models/final_AAE_vae.pt
VAE/models/final_AAE.pt
VAE/models/Final_vae.pt
VAE/models/vae.pt
vectorized_SC_FC/__pycache__/__init__.cpython-311.pyc
vectorized_SC_FC/__pycache__/diffusionModelVec.cpython-311.pyc
vectorized_SC_FC/__pycache__/corticalSCFCDatasetVect.cpython-311.pyc
vectorized_SC_FC/__pycache__/model_eval.cpython-311.pyc
vectorized_SC_FC/__pycache__/networkModelDit.cpython-311.pyc
vectorized_SC_FC/__pycache__/networkModelVect.cpython-311.pyc
vectorized_SC_FC/__pycache__/SCFC_data_extraction.cpython-311.pyc
vectorized_SC_FC/__pycache__/UnetCrossAttention.cpython-311.pyc
vectorized_SC_FC/__pycache__/utilsVect.cpython-311.pyc
vectorized_SC_FC/data/desikan_fc_all.mat
vectorized_SC_FC/data/HCP_cortical_DesikanAtlas.mat
vectorized_SC_FC/models/fifth_test.pt
vectorized_SC_FC/models/first_test.pt
vectorized_SC_FC/models/fourth_test.pt
vectorized_SC_FC/models/second_test.pt
vectorized_SC_FC/models/sixth_test_DIT_large.pt
vectorized_SC_FC/models/sixth_test_DIT_large2.pt
vectorized_SC_FC/models/sixth_test_DIT.pt
vectorized_SC_FC/models/sixth_test.pt
vectorized_SC_FC/models/third_test.pt
vectorized_SC_FC/models/vect_test.pt
.gitignore
LDM_SC_FC_decent1Head32.pt
